.DS_Store
.RData
.Rhistory
.Rproj.user/*
VOSviewer.jar
vosnetwork.net
dse_citan_files/figure-html/*
dse_citan_files/libs/*
dse_citan.html
data/.DS_Store
scripts/.DS_Store
data/jul14refworks.csv
data/Jul27refworks.csv
data/Jul29refworks.csv
dse_citan.RData
.Rproj.user
dse-citan.Rproj
vosnetwork.net
